[Unit]
Description=Cron Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/php /var/www/html/server/cron.php
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target